.translator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button.btn-default {
    height: 45px;
  }

  & > div {
    margin: 16px;
    flex: 1;
    max-width: 250px;

  }
}

@media (min-width: 400px) {
  .translator-container {
    flex-direction: row;
  }
}
