<div class="translator-container">
  <div>
    <app-selector
      [label]="'From Language'"
      [listItems]="translationService.availableLanguages"
      [selectedItem]="translatorModel.getProperty('fromLang') | async"
      (itemClicked)="changeLanguage('fromLang', $event)"
    ></app-selector>
    <app-translator-input
      [text]="translatorModel.getProperty('text') | async"
      [label]="translatorModel.getProperty('fromLang') | async"
      (inputChange)="updateInputText($event)">
    </app-translator-input>
  </div>
  <button type="button" class="btn btn-default" (click)="swapLanguages()">
    <span class="glyphicon glyphicon-transfer"></span>
  </button>
  <div>
    <app-selector
      [label]="'To Language'"
      [listItems]="translationService.availableLanguages"
      [selectedItem]="translatorModel.getProperty('toLang') | async"
      (itemClicked)="changeLanguage('toLang', $event)"
    ></app-selector>
    <app-translator-input
      [text]="translatedText$ | async"
      [label]="translatorModel.getProperty('toLang') | async"
      [readonly]="true">
    </app-translator-input>
  </div>
</div>

